Repository MugInClermont/M14-2019: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_backend, deploy_frontend

.gitlab-ci.yml:

image: google/cloud-sdk:alpine

  
deploy_backend:
  stage: deploy
  environment: Production
  only:
    refs:
     - master
    changes:
     - src/backend/*
  script:
  - sed -i  "s/localhost:27017/$MONGODB_IP:27017/" src/backend/config/default.yaml
  - sed -i  "s/3000/443/" src/backend/config/default.yaml
  - echo $SERVICE_ACCOUNT > /tmp/$CI_PIPELINE_ID.json
  - gcloud auth activate-service-account --key-file /tmp/$CI_PIPELINE_ID.json
  - rm /tmp/$CI_PIPELINE_ID.json
  - gcloud --quiet --project $PROJECT_ID app deploy src/backend/app.yaml

deploy_frontend:
  stage: deploy
  environment: Production
  only:
    refs:
     - master
    changes:
     - src/frontend/*
  script:
  - echo $SERVICE_ACCOUNT_frontend > /tmp/$CI_PIPELINE_ID.json
  - gcloud auth activate-service-account --key-file /tmp/$CI_PIPELINE_ID.json
  - rm /tmp/$CI_PIPELINE_ID.json
  - gcloud --quiet --project $PROJECT_ID app deploy src/frontend/app.yaml

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

added topic object
  PITCHME.md
  src/backend/lib/src/models/Events/subject.dart
  src/backend/lib/src/models/Events/subject.g.dart
  src/backend/lib/src/models/Events/topic.dart
  src/backend/lib/src/models/Events/topic.g.dart
  src/backend/lib/src/routes/Topics/topic.dart
  src/backend/lib/src/routes/Topics/topicschema.dart
  src/backend/lib/src/routes/Topics/topicscontroller.dart
  src/backend/lib/src/routes/routes.dart
  src/backend/lib/src/services/requesthandler.dart
  src/backend/views/hello.jael
Due: none

change port
  src/backend/app.yaml
Due: deploy_backend

extend timeout
  src/backend/app.yaml
Due: deploy_backend

set port
  src/backend/Dockerfile
  src/backend/app.yaml
  src/backend/config/default.yaml
Due: deploy_backend

added app.yaml
  src/frontend/app.yaml
Due: deploy_frontend

pitcheme
  .vscode/launch.json
  PITCHME.md
  src/backend/app.yaml
  src/backend/app.yml
  src/frontend/Dockerfile
Due: deploy_backend, deploy_frontend

set port
  src/backend/Dockerfile
  src/backend/config/default.yaml
Due: deploy_backend

merge
  src/backend/app.yaml
Due: deploy_backend

Update pubspec.yaml
  src/frontend/pubspec.yaml
Due: deploy_frontend

Update Dockerfile
  src/frontend/Dockerfile
Due: deploy_frontend

Update .gitignore
  src/frontend/.gitignore
Due: deploy_frontend

Update default.yaml
  src/backend/config/default.yaml
Due: none

Update app.yaml
  src/frontend/app.yaml
Due: deploy_frontend

Update .dockerignore
  src/backend/.dockerignore
Due: deploy_backend

dsf
  .idea/.gitignore
  .idea/m14-2019.iml
  .idea/modules.xml
  .idea/vcs.xml
  :no
  src/backend/app.yml
  src/frontend/Dockerfile
Due: deploy_backend, deploy_frontend

exposed port
  src/backend/app.yaml
Due: deploy_backend

added pitchme
  Notes/PITCHME.md
  Notes/PITCHME.yml
  PITCHME.md
  PITCHME.yaml
Due: none

added archi
  :no
  assets/archi.png
Due: none

test image
  .idea/m14-2019.iml
  Notes/PITCHME.md
  PITCHME.md
  src/backend/.idea/libraries/Dart_Packages.xml
Due: none

test image
  PITCHME.md
Due: none

Slide Pierre
  :no
  PITCHME.md
Due: none

Slide Pierre
  PITCHME.md
Due: none

Added backend talk
  PITCHME.md
Due: none

test image
  PITCHME.md
  assets/graphQL.png
Due: none

Slide Pierre
  C8-Nullable.jpg
  PITCHME.md
Due: none

test image
  PITCHME.md
  assets/graphqlvsrest.png
Due: none
